{{- define "main" }}

<iframe width="1000" height="600" src="https://datastudio.google.com/embed/reporting/436919d3-731e-4f64-8bb7-240ca689334b/page/koyZB" frameborder="0" style="border:0" allowfullscreen></iframe>


<!-- <html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="0; url=https://datastudio.google.com/u/0/reporting/436919d3-731e-4f64-8bb7-240ca689334b/page/koyZB">
        <script type="text/javascript">
            window.location.href = "https://datastudio.google.com/u/0/reporting/436919d3-731e-4f64-8bb7-240ca689334b/page/koyZB"
        </script>
        <title>Page Redirection</title>
    </head>
    <body>
        <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
        <!-- If you are not redirected automatically, follow this <a href='http://example.com'>link to example</a>.
    </body>
</html> --> 
{{- end  }}{{/* end main */}}